body {
  background-color: black;
}
h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.poster {
  width: 52%;
  margin-left: 20%;
  margin-top: 100px;
  color: white;
  font-family: "Indie Flower", cursive;
  text-align:center;
}

.motivation-img {
  border: 5px solid white;
  width: 100%;
}
